<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>提问</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="css/style.css" rel="stylesheet">
</head>
<body onload="cc.programs.issue()">
<main class="page-group">
    <section class="page" id="quiz">
        <div class="content">
            <div class="content-inner J_que_list">
            <!-- view start -->
                <article class="common-ctl">
                    <form id="formZhizhao">
                    <h4 class="cc-common-title">请输入提问内容</h4>
                        <div class="answer-text"><textarea rows="4" name="answer" placeholder="请描述您的问题(不少于20字)" v-model="ans"></textarea></div>
                    <h4 class="cc-common-title">语音输入</h4>
                        <div class="answer-voice">
                            <div class="cc-audio J_paly_voice" hidden><span class="J_time">0s</span> <i class="iconfont">&#xe603;</i> <i class="iconfont J_del_voice">&#xe609;</i></div>
                            <a href="javascript:" class="iconfont J_startRecord">&#xe61f;</a>
                        </div>
                    <h4 class="cc-common-title">添加图片</h4>
                        <div class="answer-imgs">
                            <a href="javascript:" v-for="img in imglist" class="ans-img-item" style="background-image: {{'url('+ img +')'}}"></a>
                            <label href="javascript:" class="ans-img-item J_addimg" @click="addimg($event)"></label>
                            <span class="answer-imgs-tag">最多添加6张</span>
                        </div>
                    <div class="tag-list">
                        <div class="tag-list-l">
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud1" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 学习</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud2" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 体育</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud3" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 思想指导</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud4" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 体育</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud5" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 思想指导</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud6" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 心理指导</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud7" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 思想指导</div>
                            </label>
                            <label class="label-checkbox com-nim tag-item">
                                <input type="checkbox" name="tag" value="sud8" v-model="tag">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 心理指导</div>
                            </label>
                        </div>
                        <div class="tag-list-r">
                            <a href="javascript:" class="iconfont tag-showall"></a>
                        </div>
                    </div>
                    <div class="common-com">
                        <label class="label-checkbox com-nim">
                            <input type="checkbox" name="nimin" v-model="nimin">
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-media">匿名发表</div>
                        </label>
                        <button type="button" id="sub" class="button button-fill button-warning cc-btn">提交答案</button>
                    </div>
                    </form>
                </article>
            <!-- view end -->
            </div>
        </div>
    </section>
</main>
<script src="lib/zepto.min.js"></script>
<script src="lib/vue.min.js"></script>
<script src="lib/vue-animated-list.js"></script>
<script src="lib/sm.min.js"></script>
<script src="lib/sm-extend.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/io.js"></script>
<script src="js/main.js"></script>
</body>
</html>
