<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>专家详细</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="css/style.css" rel="stylesheet">
</head>
<body onload="cc.programs.specialist().init()">
<main class="page-group">
    <section class="page page-current" id="specialist">
        <nav class="bar bar-tab cc-bar"><a class="tab-item cc-com-btn" href="#make">预约</a></nav>
        <div class="content">
            <div class="content-inner J_que_list">
            <!-- view start -->
                <header class="banner-max"></header>
                <h4 class="tit-con">咨询师：张永红</h4>
                <article class="spe-content">
                    <h4 class="cc-common-title">价格</h4>
                    <div class="spe-row">
                        <div class="spe-item">
                            <div class="spe-inner">
                                <h4>电话咨询</h4>
                                <p><span class="theme">200.00</span>元/次</p>
                            </div>
                        </div>
                        <div class="spe-item">
                            <div class="spe-inner">
                                <h4>视频咨询</h4>
                                <p><span class="theme">200.00</span>元/次</p>
                            </div>
                        </div>
                        <div class="spe-item">
                            <div class="spe-inner">
                                <h4>面对面咨询</h4>
                                <p><span class="theme">200.00</span>元/次</p>
                            </div>
                        </div>
                    </div>
                    <h4 class="cc-common-title">咨询师简介</h4>
                    <p class="spe-text">
                        参与设计六力家庭教育指导师和六力素质教育训练营课
                        程，对六力素质教育体系和元系统思维有深入理解，善
                        于运用思维体系解决问题。参与设计六力家庭教育指导
                        程，对六力素质教育体系和元系统思维有深入理解，善
                        于运用思维体系解决问题，于运用思维体系解决问题。
                    </p>
                    <div class="expert-list">
                        <a href="javascript:" class="expert-item"><img src="imgs/expert_1.jpg" alt="专家"></a>
                    </div>
                </article>
            <!-- view end -->
            </div>
        </div>
    </section>
    <section class="page" id="make">
        <div class="content">
            <div class="content-inner J_que_list" data-type="js">
                <!-- view start -->
                <header class="user-banner min" style="background-image: url(imgs/bg3.jpg)">
                    <span class="user-info spe"><a href="javascript:" class="user-head-min" style="background-image: url(imgs/hd.jpg)"></a> 用户BD009</span>
                </header>
                <h4 class="cc-common-title">选择预约时间</h4>
                <form id="formContent">
                    <chooser-date :date="date" :times="times"></chooser-date>
                    <div class="content-xw">
                        <h4 class="cc-common-title">咨询方式 <small class="gray">(每次60分钟)</small></h4>
                        <div class="spe-row">
                            <div class="spe-item">
                                <div class="spe-inner spe-bg">
                                    <h4>电话咨询</h4>
                                    <p><span class="theme">200.00</span>元/次</p>
                                </div>
                            </div>
                            <div class="spe-item">
                                <div class="spe-inner spe-bg">
                                    <h4>视频咨询</h4>
                                    <p><span class="theme">200.00</span>元/次</p>
                                </div>
                            </div>
                            <div class="spe-item">
                                <div class="spe-inner spe-bg">
                                    <h4>面对面咨询</h4>
                                    <p><span class="theme">200.00</span>元/次</p>
                                </div>
                            </div>
                        </div>
                        <h4 class="cc-common-title">咨询内容描述</h4>
                        <div class="answer-text"><textarea rows="4" placeholder="请输入您咨询的内容" name="ans" v-model="ans"></textarea></div>
                        <div class="common-com">
                            <label class="label-checkbox com-nim">
                                <input type="checkbox" name="tonyi" v-model="tonyi" value="tonyi">
                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-media"> 同意 <a href="javascript:" class="theme">《支招客咨询协议》</a></div>
                            </label>
                            <button type="button" class="button button-fill button-warning cc-btn" id="sub">完成</button>
                        </div>
                    </div>
                </form>
                <!-- view end -->
            </div>
        </div>
    </section>
</main>
<script src="js/io.js"></script>
<script src="lib/vue.min.js"></script>
<script src="lib/vue-animated-list.js"></script>
<script src="lib/zepto.min.js"></script>
<script src="lib/sm.min.js"></script>
<script src="lib/sm-extend.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
